<%= form_with model: skill do |form| %>

  <div>
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
    <% if form.object.errors[:name].any? %>
      <%= form.object.errors.where(:name).map(&:full_message).first %>
    <% end %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>