<%= form_with url: sessions_path, method: :post do |form| %>

  <div>
    <%= form.label :email, "メールアドレス" %>
    <%= form.text_field :email %>
    <%= form.label :password, "パスワード" %>
    <%= form.text_field :password %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>