<% content_for :title, "部署詳細| MyApp" %>
<table>
    <tr>
        <th>項目</th>
        <th>内容</th>
    </tr>
    <tr>
        <td>部署id</td>
        <td><%= @department.id%></td>
    </tr>
    <tr>
        <td>部署名</td>
        <td><%= @department.name%></td>
    </tr>
</table>

<table>
  <tr>
    <th>ユーザー覧</th>
  </tr>
    <td>
      <% @department.users.each do |user| %>
        <%= link_to user.name, admin_department_user_path(@department, user) %>
      <% end %>
    </td>
  </tr>
</table>


<%= link_to "戻る", admin_departments_path %>
<%= link_to "編集", edit_admin_department_path(@department) %>
<%= button_to "削除", [:admin, @department], method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% if @department.errors.any? %>
    <% @department.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
<% end %>
