<%= form_with model: user do |form| %>
  <% if form.object.errors.any? %>
    <p class="error"><%= form.object.errors.full_messages.first %></p>
  <% end %>

  <div>
    <%= form.label :"名前" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :"ふりがな" %>
    <%= form.text_field :furigana %>
  </div>
  <div>
    <%= form.label :"性別" %>
    <%= form.radio_button :gender, "Male" %>
    <%= form.label :male, "男性" %>
    <%= form.radio_button :gender, "Female" %>
    <%= form.label :female, "女性" %>
    <%= form.radio_button :gender, "Others" %>
    <%= form.label :others, "その他" %>
  </div>
  <div>
    <%= form.label :"電話番号" %>
    <%= form.telephone_field :tell %>
  </div>
  <div>
    <%= form.label :"携帯番号" %>
    <%= form.telephone_field :phone %>
  </div>
  <div>
    <%= form.label :"メールアドレス" %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :"郵便番号" %>
    <%= form.text_field :post_number %>
  </div>
  <div>
    <%= form.label :"都道府県" %>
    <%= form.text_field :prefecture %>
  </div>
  <div>
    <%= form.label :"市区" %>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :"町村" %>
    <%= form.text_field :town %>
  </div>
  <div>
    <%= form.label :"番地" %>
    <%= form.text_field :street_address %>
  </div>
  <div>
    <%= form.label :"建物・番号" %>
    <%= form.text_field :building %>
  </div>
  <div>
    <%= form.label :誕生日 %>
    <%= form.date_field :birthday %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>