<table>
  <tr>
    <th>項目</th>
    <th>内容</th>
  </tr>

  <tr>
    <td>id</td>
    <td><%= @user.id%></td>
  </tr>
  
  <tr>
    <td>ふりがな</td>
    <td><%= @user.furigana%></td>
  </tr>
  <tr>
    <td>名前</td>
    <td><%= @user.name %></td>
  </tr>  
  <tr>
    <% if @user.image.present? %>
      <%= image_tag(image_user_path(@user)) %>
    <% else %>
      <p>画像なし</p>
    <% end %>
  </tr>
  <tr>
    <td>性別</td>
    <td><%= @user.gender%></td>
  </tr>
  <tr>
    <td>電話番号</td>
    <td><%= @user.tel%></td>
  </tr>
  <tr>
    <td>携帯電話</td>
    <td><%= @user.phone%></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @user.email%></td>
  </tr>
  <tr>
    <td>郵便番号</td> 
    <td>〒<%= @user.post_number%></td>
    </tr>
      <td>都道府県</td>
      <td><%= @user.prefecture%></td>
    <tr>
  </tr>
    <tr>
    <td>市区</td>
    <td><%= @user.city%></td>
  </tr>
  <tr>
    <td>町村</td>
    <td><%= @user.town%></td>
  </tr>
  <tr>
    <td>番地</td>
    <td><%= @user.street_address%></td>
  </tr>
  <tr>
    <td>建物</td>
    <td><%= @user.building%></td>
  </tr>
  <tr>
    <td>誕生日</td>
    <td><%= @user.birthday%></td>
  </tr>
  <tr>
    <td>部署</td>
    <td><%= @user.department.name%></td>
  </tr>
  <tr>
    <td>スキル</td>
    <td>
    <ul>
      <% @user.skills.each do |skill|%>
        <li><%= link_to skill.name, skill_path(skill.id) %></li>
      <%end%>
      </ul>
    </td>
  </tr>
</table>
<%= link_to "Back", users_path %>
<%= link_to "部署一覧へ", departments_path %>
<%= link_to "スキル一覧へ", skills_path %>
