<% content_for :title, "スキル詳細| MyApp" %>
<% content_for :description, "登録されているスキルの情報と所持している人を確認できます。" %>
<% content_for :keywords, "MyApp, スキル詳細" %>
<% content_for :breadcrumb do %>
  <ol>
    <li><%= link_to "ホーム", users_path %></li>
    <li><%= link_to "スキル一覧", skills_path %></li>
    <li><%= @skill.name %></li>
  </ol>
<% end %>
<% content_for :breadcrumb_list do %>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "item": {
          "@id": "<%= root_url %>",
          "name": "ホーム"
        }
      },
      {
        "@type": "ListItem",
        "position": 2,
        "item": {
          "@id": "<%= skills_url %>",
          "name": "スキル一覧"
        }
      },
      {
        "@type": "ListItem",
        "position": 3,
        "item": {
          "@id": "<%= skill_url(@skill) %>",
          "name": "<%= @skill.name %>"
        }
      }
    ]
  }
<% end %>
</script>
<table>
    <tr>
        <th>項目</th>
        <th>内容</th>
    </tr>
    <tr>
        <td>スキルid</td>
        <td><%= @skill.id%></td>
    </tr>
    <tr>
        <td>スキル名</td>
        <td><%= @skill.name%></td>
    </tr>
</table>

<table> 
  <tr>
    <th>ユーザー覧</th>
  </tr>
    <td>
      <% @skill.users.each do |user| %>
        <%= link_to user.name, user_path(user.id) %>
      <% end %> 
    </td>
  </tr>
</table>


<%= link_to "Back", skills_path %>